.Popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 66vw;
    height: 66vh;

    display: flex;
    flex-direction: column;

    padding: 1rem;
}