html {
  --site-breath-driver: 0; /* Goes between -1 to 1 */
  --site-elapsed-seconds: 0; /* Seconds since the page was loaded */

  --bg-saturation-multiplier: calc(var(--site-breath-driver) / 2 + 2);
  --bg-lightness-multiplier: 1;
  --main-bg-gradient-stop-01: hsl(
    200,
    calc(50% * var(--bg-saturation-multiplier)),
    calc(80% * var(--bg-lightness-multiplier))
  );
  --main-bg-gradient-stop-02: hsl(
    250,
    calc(50% * var(--bg-saturation-multiplier)),
    calc(80% * var(--bg-lightness-multiplier))
  );
  --main-bg-gradient-stop-03: hsl(0, 0%, 100%);
  --main-bg-gradient-stop-04: hsl(
    0,
    calc(50% * var(--bg-saturation-multiplier)),
    calc(80% * var(--bg-lightness-multiplier))
  );
  --main-bg-gradient: linear-gradient(
    -45deg,
    var(--main-bg-gradient-stop-01),
    var(--main-bg-gradient-stop-02),
    var(--main-bg-gradient-stop-03),
    var(--main-bg-gradient-stop-01),
    var(--main-bg-gradient-stop-02),
    var(--main-bg-gradient-stop-03),
    var(--main-bg-gradient-stop-01),
    var(--main-bg-gradient-stop-02),
    var(--main-bg-gradient-stop-03),
    var(--main-bg-gradient-stop-01),
    var(--main-bg-gradient-stop-02),
    var(--main-bg-gradient-stop-03)
  );

  /* Due to the way colors are diffed against the background, there is no way to figure out how the color is going to turn out really.
  Pray to whichever god may find mercy upon your futile purpose. 
  DOBG = Diffed On BackGround
  */
  --DOBG-aqua: hsl(0, 40%, 50%);
  --DOBG-aqua-horizontal-gradient: linear-gradient(
    0deg,
    hsl(0, 80%, 50%),
    hsl(0, 40%, 50%),
    hsl(0, 80%, 50%)
  );

  --DOBG-purple: hsl(110, 40%, 40%);
  --DOBG-redbrown: hsl(180, 40%, 40%);
  --DOBG-copper: hsl(215, 100%, 45%);

  margin: 0;
  padding: 0;
}
body {
  font-family:
    Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.site-background {
  position: absolute;
  top: 0;
  left: 0;

  background: var(--main-bg-gradient);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 300vw;
  height: 100vh;
  transition: all 0.3s ease;
}
.tenbyten {
  position: absolute;
  width: 10vw;
  height: 10vh;
}
.site-svg-background {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.page-title,
.page-title-aqua-marine,
.page-title-golden,
.page-title-purple,
.page-title-oscillating-hue {
  mix-blend-mode: difference;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* fallback */
  font-style: bold;
  --font-size: 20vh;
  font-size: var(--font-size);

  filter: drop-shadow(2px 2px 4px rgba(181, 224, 255, 0.6));
  transition: all 0.3s ease;
}

.page-title-reduced {
  --font-size: 10vh;
}

.page-title-aqua-marine {
  background-image: var(--DOBG-aqua-horizontal-gradient);
}
.page-title-golden {
  background-color: var(--DOBG-copper);
}
.page-title-purple {
  background-color: var(--DOBG-purple);
}

.page-title-oscillating-hue {
  background-color: hsl(calc(var(--site-elapsed-seconds) * 100), 40%, 50%);
}

.page-title-position {
  position: absolute;
  left: 0;
  --line-height: 0.8;
  line-height: var(--line-height);
  bottom: calc(var(--font-size) * var(--line-height));
  text-align: left;
  margin: 0;
  padding: 0;
}
.page-title-surname-adjustment {
  bottom: 0;
  left: 1.2vh;
}

a {
  margin-right: 1rem;
}

main {
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #335d92;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

p {
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
