html{
  --main-bg-gradient-stop-01: hsl(200, 50%, 80%);
  --main-bg-gradient-stop-02: hsl(250, 50%, 80%);
  --main-bg-gradient-stop-03: hsl(0, 0%, 100%);
  --main-bg-gradient-stop-04: hsl(0, 50%, 80%);
  --main-bg-gradient: linear-gradient(
      45deg, 
      var(--main-bg-gradient-stop-01),
      var(--main-bg-gradient-stop-02),
      var(--main-bg-gradient-stop-03),
      var(--main-bg-gradient-stop-01),
      var(--main-bg-gradient-stop-03),
      var(--main-bg-gradient-stop-02)
  );
}

body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-image: var(--main-bg-gradient);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.tenbyten{
  position: absolute;
  width: 10vw;
  height: 10vh;
}

.page-title, .page-title-aqua-marine, .page-title-golden {
  mix-blend-mode: difference;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* fallback */
  font-style: bold;
  font-size: 30vh;
}

.page-title-aqua-marine {
  background-color: hsl(0, 10%, 50%);
}
.page-title-golden {
  background-color: hsl(80, 40%, 40%);
}


a {
  margin-right: 1rem;
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

h1 {
  color: #335d92;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

p {
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}

.increment {
  font-family: inherit;
  font-size: inherit;
  padding: 1em 2em;
  color: #335d92;
  background-color: rgba(68, 107, 158, 0.1);
  border-radius: 2em;
  border: 2px solid rgba(68, 107, 158, 0);
  outline: none;
  width: 200px;
  font-variant-numeric: tabular-nums;
  cursor: pointer;
}

.increment:focus {
  border: 2px solid #335d92;
}

.increment:active {
  background-color: rgba(68, 107, 158, 0.2);
}
